<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <title>唯品会网站注册</title>

<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">

<link rel="dns-prefetch" href="//member-ssl.vipstatic.com">
<link href="Css/common-hash-f0cb94c0.css" type="text/css" rel="stylesheet">
<link href="Css/login-hash-d2b2a318.css" type="text/css" rel="stylesheet">

<script src="Scripts/jquery-1.10.2-hash-33c5c148.js" type="text/javascript"></script>
<script src="Scripts/core3.1.0-hash-fb2b0f55.js" type="text/javascript"></script>
<script src="Scripts/core-hash-07ce7ff1.js" type="text/javascript"></script>
<script type="text/javascript">
    var staticHost='https://user.vipstatic.com/passport';
    var domainHost='https://passport.vip.com';
    var imageHost='https://passport.vip.com/static';
    var ctx='';
    var abcType='';
</script>
</head>
<body class="regSingle  J-container">
<div class="c-header"
     passport_mars_sead_hover>
    <div class="c-header-inner">
        <div class="c-logo">
            <a class="c-logo-link"
               id="for-cascade-login-link"
               href="//www.vip.com">唯品会</a>
        </div>

        <div class="c-service"></div>
    </div>
</div>
    <div class="c-body  J-ads"
         data-adsid="ADSJ867S"
         data-bg="true">
        <div class="c-content  f-clearfix">
            <div class="c-register  f-right">
                <div class="c-register-header">
                    <div class="c-register-switch-login"
                          passport_mars_sead_hover>
                        已注册可<!--
                     --><a href="https://passport.vip.com/login?ff=125|2|1|1"
                           id="J_normal_loginlink"
                           class="u-text-highlight">直接登录</a>
                    </div>
                    <h3 class="c-register-title">会员注册</h3>
                </div>
                <div class="c-register-body">
                    <input type="hidden" name="vipc" value="" />
<div id="reg-form-wrapper">
    <div class="ui-tips-big ui-tips1 c-register-top-tips hidden">
        <i class="vipFont if-sigh">&#xe603;</i>
        <a href="javascript:;" role="button" class="close">&times;</a>
        <p class="info"><i class="vipFont if-sigh">&#xe603;</i><span class="info-msg"></span></p>
    </div>

    <form id="reg_mobile_form" action="/register" method="post" autocomplete="off" class="register-form">
        <div class="control-group  has-form-item-icon  clearfix">
            <div class="ui-form-item-group">
                <input type="text"
                       class="ui-input ipt-phone" id="J_mobile_name"
                       name="loginName"
                       placeholder="请输入手机号码"
                       passport_mars_sead_hover passport_mars_sead_input='mobileRegMobile'/>
                <span class="u-input-warning vipFont if-wrong">&#xe621;</span>
                <span class="u-input-success vipFont if-success">&#xe61e;</span>
                <span class="c-icon  c-icon-mobile  c-icon-form"></span>
            </div>
            <div class="u-input-tip"><span class="text"></span></div>
        </div>

        <div class="control-group" id="J_verify_code_mobile"></div>

        <div class="control-group  has-form-item-icon  clearfix">
            <div class="ui-form-item-group adjust-tip-icon">
                <input type="text"
                       id="J_mobile_code" class="ui-input ipt-verify-code"
                       name="pvcode"
                       placeholder="请输入验证码"
                       passport_mars_sead_hover passport_mars_sead_input='mobileRegMobileCode'/><!--
             --><a href="javascript:;"
                   role="button"
                   id="J_mobile_verifycode_btn" class="ui-btn-medium ui-btn-disable btn-verify-code"
                   passport_mars_sead_hover
                   tabIndex="-1">获取验证码</a>
                <span class="u-input-warning vipFont if-wrong">&#xe621;</span>
                <span class="u-input-success vipFont if-success">&#xe61e;</span>
                <span class="c-icon  c-icon-captcha  c-icon-form"></span>
            </div>
            <div class="u-input-tip"><span class="text"></span></div>
        </div>

        <div class="control-group  has-form-item-icon  clearfix">
            <div class="ui-form-item-group">
                <input type="password"
                       class="ui-input" id="J_mobile_pwd"
                       name="password"
                       maxlength="20"
                       placeholder="密码由6-20位字母，数字和符号组合"
                       passport_mars_sead_hover
                       passport_mars_sead_input='mobileRegPw'/>
                <span class="u-input-warning vipFont if-wrong">&#xe621;</span>
                <span class="u-input-success vipFont if-success">&#xe61e;</span>
                <span class="c-icon  c-icon-password  c-icon-form"></span>
            </div>
            <div class="u-input-tip">
                <span class="strength-indicator">
                    <span class="indicator-item-bg">
                        <span class="indicator-item"></span>
                    </span>
                    <span class="indicator-text text-weak">弱</span>
                    <span class="indicator-text text-medium">中</span>
                    <span class="indicator-text text-strong">强</span>
                </span><!--
             --><span class="text password-tip"></span>
            </div>
        </div>

        <div class="control-group  has-form-item-icon  clearfix">
            <div class="ui-form-item-group">
                <input type="password"
                       class="ui-input confirm-pwd" id="J_mobile_confirm_pwd"
                       name="confirmPassword"
                       maxlength="20"
                       placeholder="请再次输入上面的密码"
                       passport_mars_sead_hover
                       passport_mars_sead_input='mobileRegCPw'/>
                <span class="u-input-warning vipFont if-wrong">&#xe621;</span>
                <span class="u-input-success vipFont if-success">&#xe61e;</span>
                <span class="c-icon  c-icon-password  c-icon-form"></span>
            </div>
            <div class="u-input-tip"><span class="text"></span></div>
        </div>

        <div class="control-group clearfix">
            <div class="ui-form-item-group">
                <span class="ui-checkbox mr0">
                    <input type="checkbox" id="J_mobile_agree" name="agree" class="ui-checkbox-normal" value="1"><label for="J_mobile_agree" class="ui-checkbox-simulation"></label>
                </span>
                <label for="J_mobile_agree" class="u-provision-txt">我已阅读并接受以下条款：<a href="https://viva.vip.com/act/supportClause-pc?wapid=vivac_802" class="u-link" target="_blank" id="J_mobile_provision">《唯品会服务条款》</a><a href="https://viva.vip.com/act/supportPrivacy-pc?wapid=vivac_804" class="u-link" target="_blank">《隐私条款》</a><a href="https://i.vpal.com/clause.html" class="u-link" target="_blank">《唯品支付用户服务协议》</a></label>
            </div>
            <div class="u-input-tip"><span class="text"></span></div>
        </div>

        <div class="control-group mb30 clearfix">
            <a href="javascript:;" role="button" id="J_mobile_reg_button" class="ui-btn-large ui-btn-primary ui-btn-loading reg-form-btn form-submit" passport_mars_sead_hover>
                <span class="ui-btn-loading-before">立即注册</span>
                <span class="ui-btn-loading-after"><i class="ii-loading-gray-16x16"></i><span class="ui-btn-txt">处理中...</span></span>
            </a>
        </div>
    </form>
</div>
<script type="text/javascript">
    var isThirdLogin = false;
</script>
                </div>
            </div>
        </div>
	</div>

<div class="c-footer">
    <p class="c-copyright">Copyright 2008-2019 vip.com，All Rights Reserved ICP证：粤 B2-20080329</p>
</div>
<script type="text/html" id="J-dialog-guide-login">
    <h3 class="ui-dialog-tips  f-text-center">
        <span class="text">
            <span class="vipFont if-success">&#xe602;</span>注册成功！
        </span>
    </h3>
    <p>请在登录页面完成登录，即可开始愉快的购物之旅。</p>
</script>

    <script type="text/javascript">
            var errorMsg=[];

        var registerFormPageSourceType = 0;
        var registerFormMarsSeed = {
            // 手机注册
            '#J_mobile_name'            : '125|2|1|2',
            '#J_mobile_pwd'             : '125|2|1|5',
            '#J_mobile_confirm_pwd'     : '125|2|1|6',
            '#J_mobile_verifycode_btn'  : '125|2|1|7',
            '#J_mobile_code'            : '125|2|1|8',
            '#J_mobile_reg_button'      : '125|2|1|9',
            '#J_mobile_agree'           : '125|2|1|11',
            '#J_mobile_provision'       : 'ff=125|2|1|12',
            '#for-cascade-login-link'   : 'ff=125|2|1|14',
            '#mailbox_close'            : '125|2|2|16'
        };

       $(function() {
            $.Loader
                .advScript({
                    name: 'form',
                    url: '//member-ssl.vipstatic.com/js/public/passport/1/register-hash-64e300c3.js'
                },{
                    name: 'mars',
                    url: '//3rd.vipstatic.com/mars/mars.js'
                },{
                    name: 'captcha',
                    url: '//captcha.vip.com/getbootstrap'
                },{
                    name: 'captchaInit',
                    def: function () {
                        if(window.VipSecureCode){
                            var initOpt = {
                                parseJSON: $.parseJSON,
                                stringifyJSON: $.stringifyJSON
                            };
                            /*global VipSecureCode*/
                            VipSecureCode.init(initOpt);
                        }
                    },
                    requires: ['captcha']
                });
        });

        window.VTM = {
            sessionUser: {
                id: $.Cookie.get('VipRUID'),
                name: $.Cookie.get('VipRNAME')
            },
            pageId: 102
        };

        (function() {
            var _script = document.createElement( "script" );
            _script.src = "https://ms.vipstatic.com/vtm/vtm_config_res/prod/vtm.js" +
                                ( window.location.href.indexOf( "preview=1" ) != -1 ? "?preview=1" : "" );
            document.body.appendChild( _script );
        } )();
    </script>

    <noscript><img src="Picture/d0760be309b64e5f97c788643523c859.gif" height="1" width="1" border="0" alt="" /></noscript>
</body>
</html>
